*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8fd5d5;
}
.main{
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
    border-radius: .5rem;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.main h2{
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}
.main form input {
    font-weight: lighter;
    border: none;
}
input:focus {
    outline: none;
}
form .user{
    margin-bottom: .7rem;
}
form i {
    font-size: 1rem;
    margin-right: 0.5rem;
}
.userArea {
    margin-bottom: .7rem;
}
form .forgotPassword {
   
    right: 0rem;
    cursor: pointer;
    bottom: 17rem;
    color: rgb(113, 119, 124);
    font-size: .8rem;
}
.input {
    display: flex;
    flex-direction: column;
    padding-bottom: .8rem;
}
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup ul {
    margin-bottom: 3rem;
}

.signup p {
    margin-bottom: .5rem;
    font-size: .8rem;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list a {
    text-decoration: none;
}

.list li {
    list-style: none;
}

.list li i {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    margin-top: 1rem;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
}

.fa-google {
    background-color: orangered;
}

.fa-twitter {
    background-color: rgb(43, 71, 228);
}

.fa-facebook-f {
    background-color: darkblue;
}




.btn {
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 0.7rem 0.8rem;
    background: linear-gradient(to right, #8d68c5, #e34494);
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #fff;
}

#signUp {
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

#signUp:hover {
    color: #8d68c5;
}

 

